@tailwind base;
@tailwind components;
@tailwind utilities;

@import "~normalize.css";
@import "~@blueprintjs/core/lib/css/blueprint.css";
@import "~@blueprintjs/icons/lib/css/blueprint-icons.css";

a {
    text-decoration: none !important;
}

.grow { 
    transition: all .2s ease-in-out; 
}
    
.grow:hover { 
    transform: scale(1.1);
    /* color: green;  */
}

